<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <div id="alert-container" class="text-center"></div>
    <h2
      class="mb-4 text-xl font-bold text-gray-900 dark:text-white text-center"
    >
      Add a new product
    </h2>
    <p class="mb-4 text-sm text-gray-600 dark:text-gray-400 text-center">
      Use the below form to create a new account
    </p>
    <%- include('include/_form') %>
  </div>
</section>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>

<!-- /include footer -->
