<form action="/home/api/users" method="POST" id="add_user">
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
    <div class="sm:col-span-2">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Name</label
      >
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter name"
        value=""
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        type="email"
        name="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter email"
        required=""
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="street"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Street Name</label
      >
      <input
        type="text"
        name="street"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter street name"
        required
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="city"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >City</label
      >
      <input
        type="text"
        name="city"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter city"
        required
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="state"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >State</label
      >
      <input
        type="text"
        name="state"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter state"
        required
      />
    </div>
    <div class="sm:col-span-2">
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Phone Number</label
      >
      <input
        type="tel"
        name="phone"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Enter phone number"
        required
      />
    </div>

    <div class="flex items-center space-x-4">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Gender</label
      >
      <div>
        <input
          type="radio"
          id="male"
          name="gender"
          value="male"
          class="focus:ring-primary-500 dark:focus:ring-primary-600"
        />
        <label for="male" class="ml-2 text-sm text-gray-900 dark:text-white"
          >Male</label
        >
      </div>
      <div>
        <input
          type="radio"
          id="female"
          name="gender"
          value="female"
          class="focus:ring-primary-500 dark:focus:ring-primary-600"
        />
        <label for="female" class="ml-2 text-sm text-gray-900 dark:text-white"
          >Female</label
        >
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Status</label
      >
      <div>
        <input
          type="radio"
          id="active"
          name="status"
          value="active"
          class="focus:ring-primary-500 dark:focus:ring-primary-600"
        />
        <label for="active" class="ml-2 text-sm text-gray-900 dark:text-white"
          >Active</label
        >
      </div>
      <div>
        <input
          type="radio"
          id="inactive"
          name="status"
          value="inactive"
          class="focus:ring-primary-500 dark:focus:ring-primary-600"
        />
        <label for="inactive" class="ml-2 text-sm text-gray-900 dark:text-white"
          >Inactive</label
        >
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-6">
    <button
      type="submit"
      class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-purple-800 bg-white-50 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-purple-800 hover:text-white transition duration-700 ease-in-out shadow-md"
    >
      Save
    </button>
  </div>
</form>
